body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.input-container {
    display: flex;
align-items: center;    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 0 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}
